<template>
  <div class="client-popup">
    <div class="client-popup-title" v-if="isUpdate">
      <h3>Edit client</h3>
    </div>
    <div class="client-popup-title" v-else>
      <h3>Create client</h3>
    </div>
    <div class="client-popup-body">
      <div class="item">
        <p class="label">Name</p>
        <v-input class="input" v-model="form.name"></v-input>
      </div>
      <div class="item">
        <p class="label" type="email">Email</p>
        <v-input class="input" v-model="form.email"></v-input>
      </div>
      <div class="item">
        <p class="label" type="phone">Phone</p>
        <v-input class="input" v-model="form.phone"></v-input>
      </div>
      <div class="item">
        <p class="label" type="phone">Providers</p>
        <provider-add class="input"></provider-add>
      </div>
      <div class="item">
        <provider-list class="right-side"></provider-list>
      </div>
    </div>
    <div class="client-popup-controls">
      <v-button class="button" type-button="danger" v-if="isUpdate" @click="handleDelete(form.id)"
        >Delete client</v-button
      >
      <div class="wrapper right-side">
        <v-button class="button" @click="$emit('close')">Cancel</v-button>
        <v-button class="button" @click="handleApply">Apply</v-button>
      </div>
    </div>
  </div>
</template>

<script>
import ProviderAdd from "@/components/ProviderAdd.vue";
import ProviderList from "@/components/ProviderList/Index.vue";
import { mapActions } from "vuex";

export default {
  name: "client-popup",

  components: {
    "provider-add": ProviderAdd,
    "provider-list": ProviderList
  },

  props: {
    isUpdate: {
      type: Boolean,
      default: false
    },

    client: {
      type: Object,
      default: null
    }
  },

  created() {
    if (this.isUpdate && this.client) {
      this.form = JSON.parse(JSON.stringify(this.client));
      this.setActiveProviders(this.client.providers.map(provider => provider._id))
    }
  },

  data() {
    return {
      form: {
        id: "",
        name: "",
        phone: "",
        email: "",
      }
    };
  },

  methods: {
    ...mapActions(["createClient", "updateClient", "deleteClient", "setActiveProviders",]),
    handleDelete(id) {
      this.deleteClient({id});
      this.$emit('close');
    },

    handleApply() {
      if (!this.form.name || !this.form.phone || !this.form.email) {
        return;
      }

      if (this.isUpdate) {
        this.updateClient(this.form);
      } else {
        this.createClient(this.form);
      }

      this.$emit('close')
    }
  },

  beforeDestroy() {
    this.setActiveProviders([]);
  }
};
</script>

<style lang="scss" scoped>
.client-popup {
  min-width: 450px;

  &-title {
    border-bottom: 1px solid #dadada;
  }

  &-body {
    padding: 20px 0;

    .item {
      width: 90%;
      margin-top: 10px;
      display: flex;

      .label {
        flex: 1;
        font-size: 12px;
        margin-right: 10px;
        margin-top: 10px;
        text-align: right;
      }

      .input {
        flex: 2;
      }
    }
  }

  &-controls {
    display: flex;

    .button {
      margin-right: 10px;
    }
  }
}
</style>
