<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-clients">
          <div class="table-clients-controls">
            <h3>Clients</h3>
            <v-button
              class="right-side"
              @click="popup = { isActive: true, isUpdate: false, client: null }"
            >
              New client
            </v-button>
          </div>
          <table>
            <thead class="table-clients-header">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Providers</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-clients-body">
              <tr
                v-for="(client, index) in clientsList"
                :key="`client-key-${index}`"
              >
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.providers | formatProviders }}</td>
                <td class="control-text" @click="handleEdit(client)">
                  <span>edit</span>
                </td>
                <td class="control-text">
                  <span @click="handleDelete(client.id)">delete</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <v-popup v-if="popup.isActive">
      <client-popup
        @close="closePopup"
        :is-update="popup.isUpdate"
        :client="popup.client"
      ></client-popup>
    </v-popup>
  </div>
</template>

<script>
import ClientPopup from "./ClientPopup.vue";
import { mapActions, mapState } from "vuex";

export default {
  name: "table-clients",

  components: {
    "client-popup": ClientPopup
  },

  async created() {
    this.getClientsTable();
  },

  filters: {
    formatProviders(providerArray) {
      return providerArray.map(provider => provider.name).join(", ");
    }
  },

  computed: {
    ...mapState(["providers", "clients"]),
    clientsList() {
      return this.clients.map(client => {
        let providers = this.providers.filter(provider =>
          client.providers.some(
            clientProvider => clientProvider === provider._id
          )
        );

        return {
          id: client._id,
          name: client.name,
          email: client.email,
          phone: client.phone,
          providers: providers
        };
      });
    }
  },

  data() {
    return {
      popup: {
        isActive: false,
        isUpdate: false,
        client: null
      }
    };
  },

  methods: {
    ...mapActions(["getClientsTable", "deleteClient"]),

    handleEdit(client) {
      this.popup = { isActive: true, isUpdate: true, client };
    },

    handleDelete(id) {
      this.deleteClient({ id });
    },

    closePopup() {
      this.popup.isActive = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.table-clients {
  &-controls {
    padding: 12px;
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #dadada;
  }

  &-header {
    font-size: 14px;
    th {
      padding: 10px;
    }

    tr {
      border-bottom: 1px solid #dadada;
    }
  }

  &-body {
    font-size: 12px;

    td {
      padding: 10px;
    }

    tr {
      border-bottom: 1px solid #dadada;
    }
  }
}
</style>
