<template>
  <div class="app">
    <table-clients></table-clients>
  </div>
</template>

<script>
import TableClients from "@/components/TableClients/Index.vue";

export default {
    components: {
      'table-clients': TableClients
    },
}
</script>

<style lang="scss" scoped>

</style>