@import "utils/vars";
@import "utils/fonts";
@import "utils/reset";

html {
  font-family: $mainFont;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
}

.right-side {
  margin-left: auto;
}

table {
  width: 100%;
}

// common style
.control-text {
  cursor: pointer;
  color: #3498db;
  
  &:hover {
    text-decoration: underline;
    color: #2d89c7;
  }

  &:active {
    color: #2677ad;
  }
}