<template>
  <div class="provider-item">
    <v-checkbox :value="isChoosed" @input="updateValue"></v-checkbox>
    <v-input class="input" v-model="title" :disabled="!isUpdated"></v-input>
    <svg class="icon icon-edit" @click="handleEdit">
      <use xlink:href="#icon-pencil" />
    </svg>
    <svg class="icon icon-delete" @click="handleDelete">
      <use xlink:href="#icon-bin2" />
    </svg>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    idProvider: {
      type: String,
      default: "1"
    },

    name: {
      type: String,
      default: "Title"
    },

    isChoosed: {
      type: Boolean,
      default: false,
    }
  },

  data() {
    return {
      title: this.name,
      isActive: false,
      isUpdated: false
    };
  },

  methods: {
    ...mapActions(["deleteProvider", "updateProvider", "setActiveProvider"]),
    handleEdit() {
      if (!this.isUpdated) {
        this.isUpdated = true;
        return;
      }

      this.isUpdated = false;
      this.updateProvider({ id: this.idProvider, name: this.title })
    },

    handleDelete() {
      this.deleteProvider({ id: this.idProvider });
    },

    updateValue(status) {
      this.setActiveProvider({status, id: this.idProvider})
    },
  }
};
</script>

<style lang="scss" scoped>
.provider-item {
  display: flex;
  align-items: center;

  .icon {
    width: 15px;
    height: 15px;
    fill: #3d3d3d;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      fill: #2b2b2b;
    }
  }

  &-name {
    margin: 0 10px;
  }

  .input {
    margin: 0 10px;
  }
}
</style>
