<template>
  <div
    class="v-button"
    :class="[{ disabled: disabled }, `v-button__${typeButton}`]"
    @click="onClick($event)"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "v-button",
  props: {
    typeButton: {
      type: String,
      default: "default"
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClick(e) {
      if (!this.disabled) {
        this.$emit("click", e);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.v-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 10px;
  font-size: 12px;

  &.disabled {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #c2c2c2;
  }

  &__default {
    background-color: #cacaca;
    color: #333;

    &:hover {
      background-color: #aaaaaa;
    }

    &:active {
      background-color: #9b9a9a;
    }   
  }

  &__danger {
    background-color: #c0392b;
    color: #ebebeb;

    &:hover {
      background-color: #ac3629;
    }

    &:active {
      background-color: #9c2e22;
    }   
  }
}
</style>
