<template>
    <label class="v-checkbox"
        ><slot></slot>
        <input
            type="checkbox"
            :disabled="disabled"
            :checked="value"
            @change="onChange($event.target.checked)"
        />
        <span class="checkmark"></span>
    </label>
</template>

<script>
export default {
    name: "v-checkbox",
    props: {
        value: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        onChange(value) {
            this.$emit("input", value);
        }
    }
};
</script>

<style lang="scss" scoped>
.v-checkbox {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.v-checkbox:hover input ~ .checkmark {
    border-color: #b6b8b9;
}

.v-checkbox input:checked ~ .checkmark {
    background-color: #b11f1f;
    border: 2px solid #b11f1f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.v-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.v-checkbox .checkmark:after {
    left: 9px;
    top: 3px;
    width: 5px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
</style>
