<template>
    <div class="v-input">
        <input
            :type="type"
            :placeholder="placeholder"
            :value="value"
            class="input v-input-default"
            @input="$emit('input', $event.target.value)"
            @keyup.enter="$emit('enter', $event.target.value)"
            :disabled="disabled"
        />
    </div>
</template>

<script>
export default {
    props: {
        placeholder: {
            type: String,
            default: ""
        },
        type: {
            type: String,
            default: "text"
        },
        value: {
            type: String,
            dafault: ""
        },
        required: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false,
        }
    }
};
</script>

<style lang="scss" scoped>
.v-input {
    display: flex;
    flex-direction: column;

    &-required {
        position: relative;

        &:after {
            display: inline-block;
            margin-left: 5px;
            content: "";
            top: 3px;
            height: 5px;
            border-radius: 50%;
            width: 5px;
            background-color: #fa163f;
            position: absolute;
        }
    }

    label {
        font-weight: bold;
        font-size: 18px;
        color: #fa163f;
    }

    &-default {
        border: 1px solid transparent;
        border-radius: 4px;

        &:hover {
            border-color: transparent;
        }

        &:focus {
            border-color: transparent;
        }
    }

    .input {
        height: 36px;
        color: #333;
        font-size: 12px;
        width: 100%;
        border-radius: 4px;
        outline: none;
        transition: 0.3s;
        padding: 0 16px;
        background: #f1f3f5;

        &::placeholder {
            color: #767c8a;
        }

        &:disabled {
            background-color: transparent;
        }
    }
}
</style>
