<template>
  <div class="v-popup">
    <div class="v-popup-content">
        <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.v-popup {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;

  &-content {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 10px 4px rgba(163, 174, 185, 0.5);
  }
}
</style>